<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/form.css}"  rel="stylesheet" type="text/css">
    <link th:href="@{/css/fragments/nav.css}"  rel="stylesheet" type="text/css">
</head>
<body>
<form action="login"  method="post">
    <div th:insert="~{fragments/nav.html}">...</div>
    <div class="container">
        <h1>Login</h1>
        <hr>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="username" id="username" required>


        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter password" name="password" id="psw" required>

        <hr>

        <button type="submit" class="registerbtn">Login</button>

            <p>Don't have account?</p>
            <a href="/register">Sign up</a>
    </div>

</form>
</body>
</html>
